.card.custom {
    margin: 10px;
}

.filter {
    padding: 5px 15px;
    width: 32%;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    vertical-align: center;
}

#overlay > .ovl_container {
    padding: 30px;
    width: 70%;
    margin: 100px auto;
    text-align: center;
    background-color: whitesmoke;
}

#overlay > .ovl_container > .ovl_wrapper {
    margin: auto;
}

#overlay > .ovl_container > .ovl_wrapper > div {
    padding: 11px;
}

#overlay > .ovl_container .overlay_options span {
    width: 100px;
}

#overlay > .ovl_container .img_wrapper img {
    width: 200px;
}

.overlay_options > div {
    margin: 10px;
}

#signin_form span, #signin_form a, #signin_form input, #signin_form button {
    margin: 10px;
}

#content {
    width: 960px;
    padding: 10px;
    margin: auto;
}
